* {
    margin: 0;
    padding: 0;
}
html,body {
    color: #333;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #444;
}
ol,ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}



/* 头部logo */

.header {
    background: #ff6700;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.header-main {
    width: 240px;
    margin: 0 auto;
}
.header-main a {
    display: block;
}
.header-main img {
    width: 100%;
}

/* 分类 */
.category {
    max-width: 1400px;
    margin: 80px auto 20px;
    background: #f0f0f0;
    padding: 0 4% 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-sizing: border-box;
}

.category-container {
    font-size: 12px;
}

.category-container-header {
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px solid rgb(211, 208, 208);
}
.category-container-header span:nth-child(1) {
    font-weight: bold;
}
.category-container-header span:nth-child(2) {
    display: inline-block;
    width: 50px;
    height: 20px;
    margin-left: 10px;
    padding: 8px 16px;
    background: #ff6700;
    color: #fff;
}

.category-container-main {
    /* margin: 12px 0; */
    border-bottom: 1px solid rgb(211, 208, 208);
}

.category-list {
    overflow: hidden;
    padding: 10px 0;
}
.category-item {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 2;
}

.category-item a:hover {
    cursor: pointer;
    color: #ff6700;
}

.category-container-footer {
    margin: 20px 0;
}

.category-container-footer-main {
    overflow: hidden;
}
.category-container-footer-main > div {
    float: left;
    width: 100px;
    height: 34px;
    margin-right: 20px;
}

.category-container-footer-main  div a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 34px;
    background: #ff6700;
    color: #fff;
}


/* 列表展示 */
.wrap {
    max-width: 1400px;
    margin: 40px auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.wrap-main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.wrap-item {
    width: 33.33%;
    height: 520px;
    margin-bottom: 140px;
}

.pic-wrap {
    width: 100%;
    margin: 0 auto;
}

.pic {
    background: #f0f0f0;
    width: 90%;
    margin: 0 auto;
    height: 530px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    overflow: hidden;
}
.pic-son img {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.pic:hover .pic-son img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.wm:hover .left2wm {
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}

.pic-son {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.shadow-2wm {
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    /* z-index: -1; */
}
.shadow-2wm span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.shadow-2wm span img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
}

.pic a {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.pic-son a img {
    width: 100%;
}
.pic-main {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}
.pic-title {
    color: #000;
    font-size: 15px;
    position: relative;
    padding-left: 2px;
}
.wm {
    display: block;
    /* background: #000; */
    width: 24px;
    height: 24px;
    position: absolute;
    top: -6px;
    right: 14px;
}

.wm img {
    padding-left: 5px;
    padding-top: 5px;
}

.pic-guide {
    font-size: 13px;
    color: #999;
    padding-left: 2px;
    min-height: 26px;
    line-height: 26px;
}

.pic-link {
    font-size: 12px;
}

.pic-link a {
    display: block;
    width: 56px;
    height: 24px;
    line-height: 24px;
    border: 1px solid rgb(211, 211, 211);
    text-align: center;
    margin: 5px 0 0 5px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.pic-link a:hover {
    background: #ff6700;
    color: #fff;
}

.advisory {
    width: 100%;
    background: url('../image/footer-banner.jpg') no-repeat;
}

.advisory-main {
    width: 450px;
    margin: 0 auto;
    height: 242px;
    /* background: #fff; */
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.advisory-main > div {
    width: 30%;
    text-align: left;
    margin-top: 70px;
    /* background: #444; */
}

.advisory-title {
    font-size: 40px;
    color: #fff;
}

.advisory-center {
    margin-top: 26px !important;
    padding-right: 30px;
}

.advisory-center p {
    width: 100%;
    height: 100%;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.advisory-center p img {
    width: 100%;
}

.advisory-center p:hover {
    transform: skew(7deg, 15deg);
    -webkit-transform: skew(7deg, 15deg);
    -moz-transform: skew(7deg, 15deg);
    -ms-transform: skew(7deg, 15deg);
    -o-transform: skew(7deg, 15deg);
}

.advisory-detail {
    margin-top: 10px;
    line-height: 20px;
    font-size: 13px;
    color: rgb(201, 201, 201);
}

.advisory-online {
    margin-top: 10px;
    width: 130px;
    height: 40px; 
    
}

.advisory-online a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background: #ff6700;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.advisory-online a:hover {
    background: #ff6600d7;
}

.message {
    padding: 4% 15% 2%;
    max-width: 1200px;
    margin: 30px auto;
    font-size: 14px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.message p {
    line-height: 24px;
}

.message-left .p2,
.message-left .p3,
.message-center .p2,
.message-right p {
    color: #999;
    font-size: 13px;
}

.message-left .p4 {
    width: 26px;
    height: 26px;   
}

.message-left .p4:hover {
    cursor: pointer;
}

.message-center {
    border-left: 1px solid #ddd;
    padding-left: 40px;
}

.message-right img {
    width: 100px;
}

footer {
    background: #333;
    color: #b0b0b0;
    font-size: 12px;
}

.footer-top {
    padding: 4% 15% 2%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-bottom: 1px solid #5c5c5c;
}

.footer-top ul {
    overflow: hidden;
}

.footer-top ul li {
    float: left;
    padding: 0 6px;
}
.footer-tel {
    overflow: hidden;
}
.footer-tel p {
    float: left;
}

.footer-tel p span:nth-child(1){
    color: #ff6700;
    font-size: 24px;
    padding-left: 10px;
}

.footer-tel p span:nth-child(2){
    display: block;
    text-align: right;
}
.footer-bottom {
    padding: 4% 15% 2%;
    display: flex;
    flex: 1;
    justify-content: space-between;
}



@media (max-width: 1360px) {
    .pic {
        height: 450px;
    }
    .shadow-2wm span img {
        top: 43%;
    }
    .wrap-item {
        margin-bottom: 80px;
    }
}

@media (max-width: 1080px) {
    .pic {
        height: 360px;
    }
    .shadow-2wm span img {
        top: 32%;
    }
    .wrap-item {
        margin-bottom: 0;
    }
    .wm {
        display: none;
    }
}

@media (max-width: 768px) {
    .wrap-item {
        width: 50%;
    }
    .pic {
        height: 300px;
    }
    .shadow-2wm span img {
        top: 26%;
    }
    .wrap-item {
        height: 460px;
    }
    .pic-guide {
        font-size: 12px;
        display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden
    }
    .advisory-main {
        height: 200px;
        width: 400px;
    }
    .advisory-title {
        font-size: 18px;
    }   

    .message,
    .footer-tel,
    .footer-bottom {
        display: none;
    }
    
    .footer-nav {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }

    .category-container-main {
        display: none;
    }
    .category-container-footer {
        margin-bottom: 0;
    }
}

@media (max-width: 320px) {
    .pic-title {
        font-size: 14px;
    }
}